body {
  font: 16px/28px arial, sans-serif;
  background-color: saddlebrown;
  color: #eaeaea;
  padding-top: 100px;
}
.container {
  height: 300px;
  width: 800px;
  margin: auto;
  background-color: #b6895b;
}

.main {
  width: 400px;
  padding: 20px 40px 0px 40px;
  box-sizing: border-box;
  float: left;
}
.main p {
  font-size: 12px;
}

.main h2 span {
  color: burlywood;
}

.footer p {
  display: inline-block;
  margin-left: 25px;
}

/* sidebar */
.sidebar {
  width: 400px;
  float: right;
}

.sidebar img {
  width: 400px;
  height: 300px;
  background-size: cover;
  position: absolute;
}

/* Clearifix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
